sphinx
sphinx-rtd-theme
sphinx-autoapi
nbsphinx
ipython
jupytext
jupyter
numpy
astropy
matplotlib
seaborn
scipy
configobj
rich
ipympl
tqdm
tables
h5py
astro-sedpy
pandas
scikit-learn
jupyter
openpyxl
jax
jaxopt
]
